


.header-one {
    background: #106aa5;
    padding: 10px 0px;
    color: #fff;
    font-size: 13px;
    position: relative;
}

.header-one .col-one:after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
}
.header-one a{
    color: #fff;
    text-decoration: none;
}

.logo{
    padding: 20px 0px;
}
.dropdown{
    float:right;
    padding-right: 0px;
}
.btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-warning {
    color: #212529;
    background-color: #106aa5!important;
    border-radius: 0px!important;
    color: #fff;
    border-color: #ffc107;
}
.btn-success {
    color: #fff;
    background-color: #a2c325;
    border-color: #28a745;
    border-radius: 0px;
}
.btn-info.cart-button {
    background-color: #a2c325;
    border-radius: 0px;
}
.badge-danger{
    color: #fff;
    background-color: #106aa5;
}
.checkout .btn{
    margin: 0px;
    width: 100%;
}
.dropdown .dropdown-menu {
    padding: 20px;
    top: 30px !important;
    width: 350px !important;
    left: -110px !important;
    box-shadow: 0px 5px 30px #c3c3c3;
}
.text-info {
    color: #a2c325!important;
    font-weight: bold;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0px;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0px;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary {
    border-radius: 0px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    background: #106aa5;
}
.dropdown-menu:before{
    content: " ";
    position:absolute;
    top:-20px;
    right:50px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}
 
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
 
.thumbnail img {
    width: 100%;
    height: auto;
}
 
.thumbnail .caption{
    margin: 7px;
    text-align: center;
}
 
.page {
    margin-top: 50px;
}
 
.btn-holder{
    text-align: center;
}
 
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.footer-one {
    background: #09324c;
    padding: 30px 0px;
    margin: 50px 0px 0px;
    display: flex;
}

.footer-two .logo {
    padding: 0px 0px 20px;
}
.footer-one .widget {
    border-right: 1px solid #175175;
}

.footer-one .widget.widget-four{
    border-right: none;
}
.footer-one h4 {
    color: #fff;
    font-size: 16px;
}
.footer-one h5 {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.footer-two {
    background: #106aa5;
    padding: 40px 0px;
}

.footer-two p {
    color: #fff;
}

.footer-two h3 {
    font-size: 17px;
    font-weight: bold;
    color: #a2c325;
}

.footer-two .mapa{
    width: 100%;
    margin-top: 20px;
}
.footer-two .mapa img{
    width: 100%;
    height: auto;
}

.footer-two .menu-footer{
    margin: 0px;
    padding: 0px;
}

.footer-two .menu-footer li{
    border-bottom: solid 1px #1c5c86;
    list-style: none;
    padding: 10px 0px;
}

.footer-two .menu-footer li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.footer-two .menu-footer li a i {
    color: #a2c325;
    font-size: 14px;
    margin-right: 3px;
}

.footer-tree {
    min-height: 100px;
    display: flex;
    align-items: center;
}
.footer-tree .medios_pago{
    text-align: right;
}

.notification h2 {
    width: 100%;
    padding: 20px 0px;
    border: dashed 2px #a2c325;
    text-align: center;
    color: #a2c325;
    margin-bottom: 40px;
    font-size: 24px;
}

span.verde{
    color: #a2c325;
}
span.big{
    font-size: 25px;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }
 
    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }
 
    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }
 
 
 
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}
 
}